body {
  background: #869fcb;
}

table,
th,
td {
  margin: 20px auto;
  font-size: 1.5rem;
  border: solid 1px;
  background-color: white;
  border-collapse: collapse;
  padding: 10px 20px 10px 20px;
  text-align: center;
}

p {
  color: white;
}

input {
  font-size: 1.2rem;
  width: 50px;
}
